@font-face {
  font-family: "Manrope";
  src: url(./Fonts/xn7gYHE41ni1AdIRggexSg.woff2);
}
@font-face {
  font-family: "offbit";
  src: url(./Fonts/ssb60VZMb2aPtoBMu6Dz4rbbk.woff2);
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fafafa;
  background-color: #0a0a0a;
  font-family: "Manrope";
  font-weight: 100;
  letter-spacing: 0.8px;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  /* border-radius: 12px; */
  /* background-color: #FFFFFF; */
}
::-webkit-scrollbar-thumb {
  background-color: #21262d;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}
*::selection {
  background-color: #222a39;
  color: white;
}
#root {
  width: 100%;
}
/*NAVBAR-------------------------------------------------------------------------------------------------------------------------------*/
#nav {
  background-color: #0a0a0a;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}
#nav .didntopen {
  box-sizing: border-box;
  width: 100%;
  max-width: 1069px;
  padding: 8px 32px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .subnavl {
  width: 10%;
}
#nav .subnavl .logo a {
  cursor: pointer;
}
#nav .subnavl .logo a img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
#nav .subnavc .links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#nav .subnavc .links li:hover {
  background-color: #252525;
  padding: 4px 8px;
}
#nav .subnavc .links li {
  list-style: none;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 4px 8px;
}
#nav .subnavr .navcta .primbtn {
  border: none;
  outline: none;
  font-size: 0.625rem;
  font-weight: 500;
  padding: 8px 12px;
}
#nav .subnavr .navcta h3:hover {
  background-color: #252525;
  padding: 4px 8px;
}
.nav-toggle {
  display: none;
}

.navicon {
  cursor: pointer;
}
.navicon2 {
  display: none;
}

#nav-toggle-menu {
  background-color: #0a0a0a;
  width: 500px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  z-index: -1000;
}
#nav-toggle-menu .nav-toggle-sidebar {
  margin-top: 60px;
  padding: 48px;
}

#nav-toggle-menu .nav-toggle-sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
#nav-toggle-menu .nav-toggle-sidebar li {
  border-bottom: 1px solid #21262d;
  padding: 16px 16px 16px 16px;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
}
#nav-toggle-menu .nav-toggle-sidebar li:hover {
  background-color: #252525;
}
#nav-toggle-menu.active {
  display: block;
}

.show {
  width: 100%;
  max-width: 1069px;
  height: 300px;
  background-color: #0a0a0a;
  /* border-bottom: 1px solid #21262d; */
  z-index: 999;
}
.showitcontent {
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: start;
  padding: 32px;
}
.showitcontent .Listtt {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
}
.showitcontent .Listtt h2 {
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 600;
}
.showitcontent .Listtt li {
  font-size: 0.75rem;
  font-weight: 300;
}
.showitcontent .Listtt li a {
  color: #fafafa;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 300;
}
.showitcontent .Listtt li a:hover {
  border-bottom: 1px solid #fafafa;
}

/*HERO------------------------------------------------------------------------------------------------------------------------*/
#hero {
  margin-top: 96px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#hero .hcont {
  max-width: 1069px;
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
#hero .topcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
#hero .topcon .users {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#hero .topcon .users img {
  width: 96px;
  height: 32px;
}
#hero .topcon .users h2 {
  font-size: 0.75rem;
  font-weight: 300;
}
#hero .topcon .mtitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#hero .topcon .mtitle h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}
#hero .topcon .mtitle span {
  font-family: offbit;
  /* font-weight: 600; */
  /* font-style: italic; */
}
#hero .topcon .mtitle h2 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
#hero .cta {
  display: flex;
  gap: 10px;
}
.primbtn {
  color: black;
  background-color: #fafafa;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 8px 20px;
  font-family: "Manrope";
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.primbtn:hover {
  background-color: #cfcfcf;
}
.secbtn {
  background-color: transparent;
  color: #fafafa;
  font-family: "Manrope";
  text-decoration: none;
  border: none;
  outline: none;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.secbtn:hover {
  background-color: #252525;
  color: #fafafa;
}
#hero .himg {
  display: flex;
  justify-content: center;
}
#hero .himg img {
  width: 100%;
}
/*AFTERHERO*/
#afterhero {
  margin-top: 192px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#afterhero #afterhero-cont {
  width: 100%;
  max-width: 1069px;
  padding: 0px 32px;
}
#afterhero .ttext {
  display: flex;
  justify-content: center;
}
#afterhero .ttext h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
#afterhero .logolio {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  /* background-color: red; */
  padding: 48px;
}
#afterhero .logolio img {
  width: 70%;
  height: 70%;
  opacity: 0.8;
}

/*tuthighsection-----------------------------------------------------------------------------------------------------------------------*/
#tuthighsection {
  margin-top: 192px;
  width: 100%;

  /* box-sizing: border-box; */
  display: flex;
  justify-content: center;
}
#tuthighsection .tuthti {
  width: 100%;
  max-width: 1069px;
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
#tuthighsection .tuthti .tuttext {
  width: 100%;
}
#tuthighsection .tuthti .tuttext h2 {
  font-size: 2rem;
  font-weight: 600;
}

#thumbnail-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  cursor: pointer;
  /* padding: 2px; */
  /* background-color: red; */
}
.video-thumbnail img {
  width: 100%;
  border: 1px solid transparent;
}
.video-thumbnail img:hover {
  border: 1px solid #cfcfcf;
}

.video-thumbnail h3 {
  font-size: 1em;
  font-weight: 500;
  padding: 4px;
}

/*FAQS---------------------------------------------------------------------------------------------------------------------------------*/
#faqs {
  margin-top: 212px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#faqs .faq {
  width: 100%;
  max-width: 1069px;
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.faq .tfaq {
  display: flex;
}
.faq .tfaq h1 {
  font-size: 2rem;
  font-weight: 600;
}
.contfaq {
  display: flex;
  flex-direction: column;
}
hr {
  border: none;
  height: 1px;
  background-color: #fafafa;
}
.contfaq .faqline {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #21262d;
  justify-content: space-between;
  padding: 48px 0px;
  gap: 16px;
  cursor: pointer;
}
.contfaq .faqline .faq-ques {
  display: flex;
  justify-content: space-between;
}

.contfaq .faqline .faq-ques h3 {
  font-size: 1.3rem;
  font-weight: 500;
  /* font-family: RobotoMed; */
}
.faqline .faq-answer {
  display: none;
}
.faqline.active .faq-answer {
  display: block;
  /* background-color: red; */
}
.faqline.active .faq-answer h2 {
  /* font-family: archivo narrow; */
  font-weight: 100;
}

.faqline .iconi {
  display: none;
}
.faqline.active .icono {
  display: none;
}
.faqline.active .iconi {
  display: block;
}

/*user-vidinput section----------------------------------------------------------------------------------------------------------------*/

#user-vidinput {
  margin-top: 192px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#user-vidinput .u-txt {
  max-width: 1069px;
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.u-txt .u-top {
  display: flex;
  justify-content: start;
}
.u-txt .u-top h2 {
  font-weight: 600;
  font-size: 2rem;
}
.u-txt .u-top .dwn {
  font-size: 1.5rem;
}
.u-txt .u-bottom {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  border: 2px solid #252525;
  border-radius: 8px;
  padding: 48px;
  background-image: url(https://images.unsplash.com/photo-1616837922342-85c68b3f2cfd?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}
.u-txt .u-bottom .u-rect {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 96px;
}
.u-txt .u-bottom .u-rect .u-rect-up {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.u-txt .u-bottom .u-rect .u-rect-up .u-rect-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.u-txt .u-bottom .u-rect .u-rect-inner label {
  /* font-family: Archivo narrow; */
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}
.u-txt .u-bottom .u-rect .u-rect-inner input {
  height: 48px;
  padding-left: 24px;
  border: 1px solid #252525;
  border-radius: 4px;
}

.u-txt .u-bottom .u-rect .u-rect-ans {
  display: flex;
  height: 48px;
  border: 1px solid #252525;
  border-radius: 4px;
  justify-content: start;
  align-items: center;
  padding-left: 16px;
}

.u-txt .u-bottom .u-rect .u-rect-inner-bottom .u-rect-sub {
  height: 64px;
  background-color: #222a39;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-txt .u-bottom .u-rect .u-rect-inner-bottom .u-rect-sub h5 {
  font-size: 1rem;
  color: #fafafa;
}

.u-bottom .u-left-rect {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.u-bottom .u-left-rect h3 {
  font-family: offbit;
  font-size: 3rem;
  font-weight: 100;
}
.u-bottom .u-left-rect h5 {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
}

/*Footer------------------------------------------------------------------------------------------------------------------------------- */
#p-footer {
  margin-top: 192px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#p-footer .p-footer-container {
  width: 100%;
  max-width: 1069px;
  padding: 0px 32px;
  border-top: 2px solid #252525;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
#p-footer .p-footer-container .p-footer-content {
  width: 100%;
  padding-top: 48px;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
#p-footer .p-footer-container .p-footer-content .Listtt {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  text-decoration: none;
}
#p-footer .p-footer-container .p-footer-content .Listtt h2 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

#p-footer .p-footer-container .p-footer-content .Listtt li a {
  text-decoration: none;
  color: #fafafa;
}
#p-footer .p-footer-container .p-footer-mcontent {
  width: 100%;
  /* height: 300px; */
  /* background-color: red; */
}
#p-footer .p-footer-container .p-footer-mcontent .p-mcontent-bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

#p-footer .p-footer-container .p-footer-mcontent h2 {
  font-size: 0.75rem;
}

/* **************************************************************************************************************************** */
/*🆕EXPLORE.HTML*/
#main-explore #heroexplore {
  margin-top: 96px;
  width: 100%;
  box-sizing: border-box;
}
#heroexplore .contE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
#heroexplore .contE .topE {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
}
#heroexplore .contE .topE h1 {
  color: white;
  font-size: 4vw;
  font-weight: 600;
}
.topE span {
  font-family: Archivo narrow;
  font-style: italic;
}

/*aheroexplore*/
#aheroexplore {
  margin-top: 192px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 192px;
}
#aheroexplore .aherocont {
  height: auto;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  padding: 0px 208px;
  gap: 48px;
}
.aherocont .ahtext {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #ffffff;
}
.aherocont .ahtext h2 {
  font-size: 2rem;
}
.aherocont .videot {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 96px 16px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}
.aherocont .videot .Ethumbnaill {
  cursor: pointer;
}
.aherocont .videot .Ethumbnaill img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.Ethumbnaill img:hover {
  border: 2px solid #21262d;
}
.Ethumbnaill h3 {
  padding: 8px 0;
  font-size: 1rem;
}
